body {
    padding-left: 300px;
    overflow: scroll;
}

.negrito {
    font-weight: bold; 

}
.titulo-controle{
    text-align: center;
    font-size: 29px; 
    margin-top: 5px;
    margin-bottom: 5px;   
}

.titulo-controle2{
    text-align: center;
    font-size: 20px; 
    margin-top: 10px;
    margin-bottom: 10px;
}

@media only screen and (max-width : 992px) {
    body {
        padding-left: 0;
    }
}

.modal-avaliar { 
    width: 30% !important; 
    height: 75% !important; 
}

.modal-titulo-avaliar{
    margin-top: 30px;
}


canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

em{
    color: red;
}